/* process.css */

/* slide_banner_02.css */
html, body{width:100%; height:100%; overflow-y: hidden; }
#wrap{width:100%; height:100%; margin:auto;}
/* = #headBox ================================ */
#headBox{width:100%; min-width:60rem; height:10%; max-height:80px; margin:auto; background-color:#fff; padding:1rem; box-sizing: border-box; position:relative;}
#headBox>h1{width:100px; height:50px; background-image:url(../../img/logo/logo_b/logo.png); background-repeat: no-repeat; background-position:center; background-size: contain;}
#headBox>h1>a{display:block; width:100%; height:100%;}

.resume_btn{width:auto; height:auto; position:absolute; top: 50%; right: 0; margin-right:20px; z-index: 1000; margin-top:-22px;}
.open_btn{width: 60px; height: 45px; position: relative; -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -o-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; -moz-transition: .5s ease-in-out; -o-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; background-color:inherit;}
.open_btn span {display: block; position: absolute; height: 9px; width: 56px; /*margin-top:3px; */background-color: #333; border-radius: 9px; opacity: 1; left: 0; /*-webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg);*/ -webkit-transition: .25s ease-in-out; -moz-transition: .25s ease-in-out; -o-transition: .25s ease-in-out; transition: .25s ease-in-out;}

.open_btn span:nth-child(1) {height: 9px; width: 45px; top: -3px; left:13.454545px; -webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center; -webkit-transform: rotate(90deg); -moz-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg);}

.open_btn span:nth-child(2) {top: -1px; left:11px;-webkit-transform-origin: left center; -moz-transform-origin: left center; -o-transform-origin: left center; transform-origin: left center; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg);}

.open_btn span:nth-child(3) {height: 9px; width: 45px; top: 0px; right:0; -webkit-transform-origin: right top; -moz-transform-origin: right top; -o-transform-origin: right top; transform-origin: right top; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -o-transform: rotate(-90deg); transform: rotate(-90deg);}

.open_btn.active span:nth-child(1) {width:100%; -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); top: 0; left: 10px;}

.open_btn.active span:nth-child(2) {width: 0%; opacity: 0;}

.open_btn.active span:nth-child(3) {width:100%; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); transform: rotate(-45deg); top: 1px; left:-10px;}

/* resume image */
.resume_box{width: 100%; height: 100%; display:none;}
.resume{background-image:url(../../img/resume/resume.png); background-repeat:no-repeat; background-position: center; background-size:contain;}

/* = #footBox ================================ */
#footBox{width:100%; height:100%; background-color:#ccc;}
  #gnb{width:100%; height:100%;}
  #gnb>ul{width:100%; height:100%;}
  #gnb li{width:33.333333%; height:100%; float:left; position:relative; background-repeat: no-repeat; background-position:center; background-size: auto;}
  #gnb li:nth-child(1){background-image:url(../../img/project_01_skiEvent/ski_image_02.jpg); background-position:left;}
  #gnb li:nth-child(2){background-image:url(../../img/project_02_ikea/banner_02.jpg); background-size: cover;}
  #gnb li:nth-child(3){background-image:url(../../img/project_03_ashley/ashley_store.jpg);}
  #gnb li>a{width:100%; height:100%; display:block; text-align: center; line-height: 30rem; font-size:2rem; color:#fff; font-weight: bold; background-color:rgba(20,20,20,0.4); transition:all 300ms ease; position:absolute; right:0; left:0; text-transform: uppercase;}

  #gnb li>a:hover{color:#333; font-size:3rem; width:130%; background-image:inherit; z-index:200; left:-15%; background-repeat: no-repeat;background-position:center; background-size: cover; text-shadow:3px 3px 3px #fff; }
  #gnb li:nth-child(1)>a.focus:after{content:"DESIGN CONCET \A \A HANDY & NEATLY"; white-space: pre; display:block; width:80%; height:20%; min-height:50px; position:absolute; bottom:10%; left:10%; background-color:rgba(255,255,255,0.8); border-radius:3rem; text-align: center; z-index:200; line-height: 120%; font-size:1.2rem; color:#222; padding-top:3rem;}
   #gnb li:nth-child(2)>a.focus:after{content:"DESIGN CONCET \A \A TRANDY & INTIMATE"; white-space: pre; display:block; width:80%; height:20%; min-height:50px; position:absolute; bottom:10%; left:10%; background-color:rgba(255,255,255,0.8); border-radius:3rem; text-align: center; z-index:200; line-height: 120%; font-size:1.2rem; color:#222; padding-top:3rem;}
    #gnb li:nth-child(3)>a.focus:after{content:"DESIGN CONCET \A \A LYRICAL & CLASSICAL"; white-space: pre; display:block; width:80%; height:20%; min-height:50px; position:absolute; bottom:10%; left:10%; background-color:rgba(255,255,255,0.8); border-radius:3rem; text-align: center; z-index:200; line-height: 120%; font-size:1.2rem; color:#222; padding-top:3rem;}

    #gnb>ul>li>.go_btn{width: 100%; height:60px; position:absolute; top:50%; background-color:rgba(255,255,255,0.5); z-index:300; margin-top:-30px; /*border:1px solid #333;*/}
     #gnb>ul>li>.go_btn>a{display:block; width:100%; height:100%; background-color:transparent; color:#333; text-align: center; line-height: 60px; font-size:2rem; text-transform:uppercase; font-weight: bold;}

  #gnb li>a.focus{color:#333; font-size:3rem; background-color:inherit; z-index:200;}

/* step_02 | step_03 */
  #gnb li:first-child>a:hover{left: 0;}
  #gnb li:last-child>a:hover{left: -30%;}








































